#compte_a_rebours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Arial;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-color: transparent;
  color: #026132;
  text-align: center;
  width: 80vw;
  padding: 0 5px 10px 5px;
}

.prefixe {
  font-weight: bold;
}



.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;

    border-right: 1px solid #026132;
    border-bottom: 1.5px solid #026132;
}
.textCompteARebours{
  font-family: Pinyon Script;
  font-size:25px;

}

.nb {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 1090px) {
  .textCompteARebours{
    font-size:15px;
  }
  
  .nb {
    font-size: 15px;
  }
  .block {
    height: 15vw;
    width: 15vw;
  }

}  

@media screen and (max-width: 500px) {
  .block {
    height: 17vw;
    width: 17vw;
  }
  
}