#premierePage{
    display: flex;
    background-image: url(../img/fondmariage.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    
}

.blocBlanc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #ffffffee;
    border-radius: 30px;
    width: 76vw;
    height: 70vh;
    min-height: 400px;
    margin: auto;
    text-align: center;
}


.blocBlanc h1{
    color:black;
    font-size: 34px;
    opacity: 0.7;
}


